body {
	        font-family: Calibri, sans-serif;
	        font-size: 1em;
			text-align:center;
			background:rgb(2,8,13);
			color:rgb(247,241,210);
	      }

	      #gcal {font-family: Calibri, sans-serif; font-size: 15px;	  text-align:left;display: inline-block; position:relative;overflow:hidden;min-height:85%; min-width:150px; width:95%; margin-top:-10%; clear:both;}

	      a:link,a:visited,a:hover,a:active {text-decoration:none;}
		  
		  .time {font-size:48pt; padding: 0; margin:0; display:inline-block; color:rgb(182,247,1); font-weight:bold; }
		  #mseconds {width:60px; text-align:right; color:rgb(85,98,112); float:right; top:0; z-index:10;}

		  #date {font-size:12pt;}

		  #now{width:60%; display:block; position:absolute; top:5%; line-height:0.85;}

		  #next{width:55%; display:block; position:absolute; top:35%; line-height:0.85;}

		  .now {font-size:48pt; padding: 0; margin:0; z-index:1; position:relative; color:rgb(24,25,69); }

		  .next {font-size:48pt; padding: 0; margin:0; margin-left: 10%; z-index:2; position:relative; color:rgb(45,14,13); }

		  #nowDiv {margin-left:10%; top:20%; width:80%; display:block; z-index:998; position:absolute; color:rgb(252,27,84); }

		  #nextDiv {margin-left:20%; top:50%; width:80%; display:block; z-index:999; position:absolute; color:rgb(255,123,52);}

		  .nowText {font-size: 36pt; line-height:0.85; }

		  .nextText {font-size:36pt; line-height:0.85; }

		  .timeToNext { font-size:18pt; text-align:right; line-height:.85;}

		  #dayOfWeek {display:inline-block; line-height:0.8; text-transform:capitalize;}
		  #dayOfMonth{display:inline-block; line-height:0.8; font-weight:bold;}
		  #monthOfYear{display:inline-block; line-height:0.8; text-transform:capitalize;}
		  #year{display:inline-block; line-height:0.8}


		  #ampm {position:relative; float:right; font-size:8pt;}

		  #am {}

		  #pm {}

		  #timeDiv {width:80%; position:relative; display:inline-block; margin-left:5%;}
		  #timeDateDiv2 {display:block; width: 100%; position:relative; top: 50%; transform: translateY(-50%); }
		  #time {line-height:.7;}
		  #dateDiv {width:10%; position:relative; display:inline-block; white-space:normal;}
		  #timeDateDiv {width:100%; position:relative; display:block; white-space: nowrap; margin-top:3%; margin-bottom:3%;}
		  #time2{ }
		  #dateDiv2 {line-height:1; width:100%; display:block;}
		  .section {margin-bottom:125%;  }

		  #dayOfWeek2, #monthOfYear2, #time2 {line-height:.8; display:block; font-size:24pt; }

		  .about {position:relative; top: 50%; transform: translateY(-50%); width:40%; 
		  	text-align:center; margin:0 auto; border:2px solid; border-color:rgb(247,241,210);
		  	background-color:rgb(24,25,69); border-radius: 25px; padding:20px;}

		  .about h2 {font-size: 240%; color:rgb(247,241,210); line-height:0.85; font-weight:bold;}

		  a, a:visited { color:rgb(182,247,1);}

		  a:hover {color:rgb(255,123,52); }

		  a.button, a.button:visited {color:rgb(255,123,52); background-color:rgb(247,241,210); border-color:rgb(247,241,210); border:2px solid; display:inline-block; padding:5px; border-radius: 15px; }
		  a.button:hover { background-color:rgb(255,123,52); color:rgb(247,241,210); }

		  a.button:hover i { -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;}

		  .about p{padding:5px; }

		  .buttons {margin-top:14px;}
		  